<body>
  <h1>
    Go, enter ID and Name
  </h1>
  <form action="/addData" method="POST">
    <input type="text" , name="jobName" ,placeholder="Enter ID" ,required />
    <input type="text" , name="partId" ,placeholder="Enter name" ,required />
    <input type="text" , name="qty" ,placeholder="Enter qty" ,required />
    <button>Submit</button>
  </form>
  <br />
  <form action="/"><button>Home</button></form>
  <br />
  <form action="/viewData"><button>View Data</button></form>
</body>
